@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  /* Light Mode Variables */
  --light-background: #ffffff;
  --light-text: #333333;
  --light-primary-accent: #8c86aa;
  --light-secondary-accent: #ff6f61;

  /* Dark Mode Variables */
  --dark-background: #181818;
  --dark-text: #f5f5f5;
  --dark-primary-accent: #aa86b8;
  --dark-secondary-accent: #ff4500;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: "Limelight", cursive;
}

svg {
  width: clamp(15px, 5vw, 25px);
  width: clamp(15px, 5vw, 25px);
  color: inherit;
}

button {
  background-color: inherit;
  outline: none;
  border: none;
  padding: 2vh;
}

.stroked-button-primary {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 10px;
}

.stroked-button-secondary {
  color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 10px;
  transition: all 0.3s;
}

.stroked-button-secondary:hover {
  color: inherit;
  background-color: var(--accent);
}
