.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 5vh;
  gap: 5dvh;
  padding-top: 15vh;
  padding-top: 15dvh;
  min-height: 100vh;
  min-height: 100dvh;

  --background: var(--dark-background);
  --text: var(--dark-text);
  --primary: var(--dark-primary-accent);
  --accent: var(--dark-secondary-accent);

  background-color: var(--background);
  color: var(--text);
}

.light {
  --background: var(--light-background);
  --text: var(--light-text);
  --primary: var(--light-primary-accent);
  --accent: var(--light-secondary-accent);
}
